<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{dd MMM yyyy HH:mm:ss.SSS} >> %-3relative [%thread] %-5level	%logger{25} - %msg %n</Pattern>
        </encoder>
    </appender>

    <appender name="rollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${USER_HOME}/generatehql.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${USER_HOME}/generatehql-%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger - %msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="uk.gov.gsi.hmrc.cds.data" level="INFO"
            additivity="false">
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="rollingFileAppender" />
    </logger>

</configuration>